
body{
    overflow: scroll !important;
    height:100% !important;
  }
  
  .container{
      margin-top: 4%;
    }
    .text-dark{
      font-weight: 400;
      color: #1c3d76 !important;
      padding: 5%;
    }
    .mat-form-field-label-wrapper {
      border:0.2px solid #1f467f !important;
    }
    
    .vl{
      border-left: 1px solid gray;
      height: 14%;
      position: absolute;
      left: 61%;
      overflow:hidden;
      margin: -15.3%;
    }
    .footer ul li a{
      text-transform: none;
    }
    h6, .h6 {
      text-transform: none;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .container_card{
        width: 350px !important;
      }
        
    }
    @supports (-ms-ime-align: auto) {
        .container_card{
        width: 350px !important;
      }
    }
    .asterisk_input:after {
      content: " *";
      color: #e32;
      position: absolute;
      margin: 0px 0px 0px 0px;
      font-size: 25px;
      padding: 0 0 0 0;
      left: 0%;
      top:32%;
      }
  
      .login_background{
        background:#f8f9fa;
      }