   <mat-card class="login_background">
        <mat-card-content>
          <div class="pb-1">
  <div class="row" style="justify-content: center;">
    <div class="col-md-4 offset-md-4">
    <h1>{{form_title}}</h1>
    <hr/>
  <formio [form]="preview_fields" (click)="getforminputdata($event);" 
    (submit)="submit_form($event)"></formio>
     <hr/>
     <button type="button" class="btn btn-primary" (click)="backToFormType()">
        Back
      </button>
</div>
</div>
</div>
</mat-card-content>
</mat-card>



<div style="position:absolute;top:0%;right: 0;margin: auto;">
  <ng-template class="" #Userlist let-modal>
    <div class="modal-header" style="justify-content: center;">
      <h6 class="modal-title" id="modal-basic-title">Org User List</h6>
      <button type="button" id="member_close" class="close custom_close" aria-label="Close"
        (click)="modal.close('Cross click')">
        <span style="font-size: 25px;" aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 mt-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="filter1">
          </div>
          <table class="table table_customize table-striped table-hover mx-auto mt-3">
            <thead>
              <tr>
                <th style="text-align: center;">Sl No.</th>
                <th>User Name</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let row of orgUserdata;let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow"> -->
              <tr
                *ngFor="let row of orgUserdata | orderBy: key : reverse | filter:filter1 | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td> <input type="checkbox" class="form-control" [(ngModel)]="row.selected"
                    (click)="clickc(row.selected)"></td>
                <td>{{row.username}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="justify-content: center;">
            <button class="btn btn-success" (click)="add_members()">Add User</button>
          </div>

          <div class="row mt-3" style="overflow-y:hidden !important;justify-content: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div style="position:absolute;top:0%;right: 0;margin: auto;">
  <ng-template class="" #Orglist let-modal>
    <div class="modal-header" style="justify-content: center;">
      <h6 class="modal-title" id="modal-basic-title">Org List</h6>
      <button type="button" id="member_close" class="close custom_close" aria-label="Close"
        (click)="modal.close('Cross click')">
        <span style="font-size: 25px;" aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 mt-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="filter1">
          </div>
          <table class="table table_customize table-striped table-hover mx-auto mt-3">
            <thead>
              <tr>
                <th style="text-align: center;">Sl No.</th>
                <th>Org Name</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let row of orgUserdata;let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow"> -->
              <tr
                *ngFor="let row of organisations | orderBy: key : reverse | filter:filter1 | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                (click)="setorgClickedRow(i)" [class.active]="i == selectedRow">
                <td> <input type="checkbox" class="form-control" [(ngModel)]="row.selected"
                    (click)="selected_click(row.selected)"></td>
                <td>{{row.name}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="justify-content: center;">
            <button class="btn btn-success" (click)="add_members()">Add Organisations</button>
          </div>

          <div class="row mt-3" style="overflow-y:hidden !important;justify-content: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>


<!-- categorylist -->
<div style="position:absolute;top:0%;right: 0;margin: auto;">
  <ng-template class="" #categorymodal let-modal>
    <div class="modal-header" style="justify-content: center;">
      <h6 class="modal-title" id="modal-basic-title">Category List</h6>
      <button type="button" id="category_close" class="close custom_close" aria-label="Close"
        (click)="modal.close('Cross click')">
        <span style="font-size: 25px;" aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 mt-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="filter2">
          </div>
          <table class="table table_customize table-striped table-hover mx-auto mt-3">
            <thead>
              <tr>
                <th style="text-align: center;">Sl No.</th>
                <th>Category Name</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let row of orgUserdata;let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow"> -->
              <tr
                *ngFor="let row of categorylist | orderBy: key : reverse | filter:filter2 | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                (click)="setorgClickedRow(i)" [class.active]="i == selectedRow">
                <td> <input type="checkbox" class="form-control form-control_custom" [(ngModel)]="row.selected"
                    (ngModelChange)="changed(row)" (click)="selected_click(row.selected)"></td>
                <td>{{row.type}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="justify-content: center;">
            <button class="btn btn-success" (click)="add_caetgory()">Add Category</button>
          </div>

          <div class="row mt-3" style="overflow-y:hidden !important;justify-content: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>


<!-- image uplodad -->
<div class="upload-imgpage">
  <ng-template class="" #imageUpload let-modal>
   <div class="modal-header" style="justify-content: center;">
     <h6 class="modal-title" id="modal-basic-title">Image upload</h6>
     <button type="button" style="margin-bottom: 100px;" id="assignee_close" class="close custom_close" aria-label="Close"
       (click)="modal.close('Cross click')">
       <span style="font-size: 25px;" aria-hidden="true">&times;</span>
     </button>
   </div>
   <input class="img-upload"
   type="file" (change)="onFileSeletcted($event)"
   #fileInput>
   <button class="btn btn-primary upload-imgbtn" (click)="tooo()">Done</button>
 <!-- <button (click)="onUpload()">Upload!</button> -->
  </ng-template>
 </div>


<!-- assigneelist -->
<div style="position:absolute;top:0%;right: 0;margin: auto;">
  <ng-template class="" #assignemodal let-modal>
    <div class="modal-header" style="justify-content: center;">
      <h6 class="modal-title" id="modal-basic-title">Users List</h6>
      <button type="button" id="assignee_close" class="close custom_close" aria-label="Close"
        (click)="modal.close('Cross click')">
        <span style="font-size: 25px;" aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 mt-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="filter3">
          </div>
          <table class="table table_customize table-striped table-hover mx-auto mt-3">
            <thead>
              <tr>
                <th style="text-align: center;">Sl No.</th>
                <th>User Name</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let row of orgUserdata;let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow"> -->
              <tr
                *ngFor="let row of assigneelist | orderBy: key : reverse | filter:filter3 | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                (click)="setorgClickedRow(i)" [class.active]="i == selectedRow">
                <td> <input type="checkbox" class="form-control form-control_custom" [(ngModel)]="row.selected"
                    (click)="selected_click(row.selected)"></td>
                <td>{{row.username}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="justify-content: center;">
            <button class="btn btn-success" (click)="close_assignee()">Add Assignee</button>
          </div>

          <div class="row mt-3" style="overflow-y:hidden !important;justify-content: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>