<div class="content shadow-lg">
  <button class="btn clear" (click)="notifClose()"><mat-icon>clear</mat-icon></button>
  <div class="row center" style="padding: 2rem 0rem; width: 100%;">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="container d-flex justify-content-center">
        <h5 class="notification-class">Notifications</h5>
      </div>
      <div class="cardWrapper">
        <div *ngIf="notif != ''">
          <div
            *ngFor="let item of notif"
            class="justify-content-center"
            id="notif"
          >
            <!-- <button class="btn remove" (click)="remove()">
              <mat-icon>clear</mat-icon>
            </button> -->
            <mat-card class="cardSection" (click)="navigate(item)">
              <div id="infoWindow">
                <div class="content-row header">
                  <h6 class="item-class">{{ item.data.form_data.name }}</h6>
                </div>
                <hr />
                <div class="content-row">
                  <h6 class="marker_main_content">{{
                    item.data.form_data.description
                  }}</h6>
                  <!-- <span class="marker_main_content" *ngIf="item.type == '6'">{{item.data.form_data.issueDescription}}</span> -->
                </div>
              </div>
            </mat-card>
            <!-- </button> -->
          </div>
        </div>
        <div *ngIf="notif == ''" style="margin-top: 100px; text-align: center;">
          <h6>No New Notifications</h6>
          <mat-icon>inbox</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
