<section class="bg-light">
  <div class="container text-center pt-5 pb-5 text-bold text-size-18">
    <h1 class="mt-1 mb-1"> 6,000,000 issues solved sofar!</h1>
  </div>
</section>
<section class="bg-white">
  <div class="container text-center pt-5 pb-5 text-bold text-size-18">
    <h2 class="mb-4">How its works</h2>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <iframe width="100%" height="315" style="border: none;"
          src="https://www.youtube.com/embed/9k9xWrVbiXs?controls=0" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="p-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="h3">Learn more about how SolveNinjas are making an impact on their communities </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <button class="btn btn-primary mt-3">Success Stories</button>
    </div>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container text-center">
    <h2 class="mb-1">Become a SolveNinja</h2>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="h5 mb-5">There are lots ways to get involved and make an impact </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row pt-5 pb-3">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2 class="mt-3">Report issues</h2>
        <p class="pl-5 pr-5">Use our web app to report polution, waset , and more</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2 class="mt-3">Join campaigns</h2>
        <p class="pl-5 pr-5">Work alongside your friends to solve issues in your comunity
        </p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2 class="mt-3">Design Solutions</h2>
        <p class="pl-5 pr-5">Build or code your own solutions to problems you see</p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


  </div>
</section>


<section class="bg-white pt-5 pb-5">
  <div class="container text-center">
    <div class="">
      <h2 class="mb-2">Be a part of movement today!</h2>
      <button class="btn btn-primary">Get involved</button>
    </div>
  </div>
</section>