<!-- <div class="container">
  <mat-card class="cardSection mat_card_customize tp-card" style="position:relative;margin-top:10%;padding-top:0px;">
 
    <div *ngIf="image_show">
    <img mat-card-image [offset]="'100'" style="border-radius: 16px 16px 0px 0px" [defaultImage]="defaultImage"  [lazyLoad]="image" />
    </div>


    <div class="mt-0" id="infoWindow" style="position:relative;">
      <div class="row">
        <ngx-stars [readonly]="false" (ratingOutput)="onRatingSet($event)"  [size]="4" [initialStars]="initial_stars" ></ngx-stars>
      </div>
      <div class="content-row header">
        <h5>{{info.name}}</h5>
      </div>
      <hr class="hr_class_custom">
      <div class="content-row">
        <p class="marker_main_content">{{info.description}}</p>
      </div>
      <hr>
      
        <div class="row">
          <div class="col-6">
            <div class="info">
              <div class="support_section">
                <button type="button" class="button_png" [disabled]="(global_userId === user_disabled)? true:false"   (click)="supporters($event)">
                  <img src="../../../assets/Icons/likes.png" class="img_png" [ngClass]="(global_userId === user_disabled) ? 'active' : 'none'" alt="filter" /></button>
                <span class="font_span">{{supporters_count}} Supporters</span>
              </div>
  
            </div>
          </div>
          <div class="col-5">
            <div class="support_section">
              <button type="button" class="button_png">
              <img src="../../../assets/Icons/comments.png" class="img_png" alt="filter" /></button>
              <span class="font_span">{{comment_count}} Comments</span>
            
             
            </div>
          </div>
          <div class="col-1" align="left" style="margin-top:3% !important">
            <div  class="panel-title" (click)="expand(info)" data-toggle="collapse" data-target="#demo" ></div>
          </div>
        </div>
        <div id="demo" class="collapse mt-3" *ngIf="info.expanded">
          <div class="row" *ngFor="let comment of comment_list">
            <div class="col-md-12">
              <h6 class="comment_user">{{comment.name}}</h6>
              <p class="support_section">{{comment.text}}</p>
              <hr class="comment_hr">
            </div>
          </div>
         <div class="row mt-0" >
            <label class="label_font">Enter Your Comments</label>
            <textarea class="form-control" rows="5" [(ngModel)]="comments"></textarea>
         </div>
         <div class="row" style="justify-content: center;">
          <button type="button" class="btn btn-success pull-right m-3" (click)="post_comments()"
                  style="background-color: #0b7efb;color:#fff;border-radius: 20px;width:100px;padding:3% 0 3% 0;">Post
          </button>
         </div>
        </div>
     
    </div>
  </mat-card> 
  </div>
   -->

<div class="card card_border">
  <div *ngIf="image_show">
    <img [offset]="'100'" style="border-radius: 16px 16px 0px 0px;width:100%" [lazyLoad]="image" />
  </div>
  <div class="card-body">
    <p class="marker_main_content">{{info.name}}</p>

    <div class="mt-0" id="infoWindow" style="position:relative;">
      <div class="row">
        <ngx-stars [readonly]="false" (ratingOutput)="onRatingSet($event)" [size]="4" [initialStars]="initial_stars">
        </ngx-stars>
      </div>
      <div class="content-row header">
        <h5>{{info.name}}</h5>
      </div>
      <hr class="hr_class_custom">
      <div class="content-row">
        <p class="marker_main_content">{{info.description}}</p>
      </div>
      <div *ngIf="assetFields">
        <form action="/action_page.php">
          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Address:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.address}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Contact Number:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.contactNumber}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Contact Name:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.contactName}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Working Hours Open:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.workingHoursOpen}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Working Hours Close:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.workingHoursClose}}</span>
            </div>
          </div>
  
        </form>
      </div>

      <div *ngIf="issueFields">
        <!-- <form action="/action_page.php"> -->
          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Status:</label>
            </div>
            <div class="col-md-6 col-6">
              <select class="browser-default custom-select custom-select_drop" [disabled]="isAllowed == false" [(ngModel)]="selectedValue"
                (change)="getSelectedvalue($event.value)">
                <!-- <option  selected>Open</option> -->
                <option  selected *ngFor="let tab of statuslist ; let index = index "
                
                 [value]="tab.id">{{tab.name}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Created By:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.createdBy}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Category:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.catName}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Tags:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{info.tags}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-6">
              <label for="fname">Members:</label>
            </div>
            <div class="col-md-6 col-6">
              <span>{{this.memers_name}}</span>
            </div>
          </div>
        <!-- </form> -->
      </div>
      <hr>

      <div class="row">
        <div class="col-6">
          <div class="info">
            <div class="support_section">
              <button type="button" class="button_png" [disabled]="(global_userId === user_disabled)? true:false"
                (click)="supporters($event)">
                <img src="../../../assets/Icons/likes.png" class="img_png"
                  [ngClass]="(global_userId === user_disabled) ? 'active' : 'none'" alt="filter" /></button>
              <span class="font_span">{{supporters_count}} Supporters</span>
            </div>

          </div>
        </div>
        <div class="col-5">
          <div class="support_section">
            <button type="button" class="button_png">
              <img src="../../../assets/Icons/comments.png" class="img_png" alt="filter" /></button>
            <span class="font_span">{{comment_count}} Comments</span>


          </div>
        </div>
        <div class="col-1" align="left" style="margin-top:3% !important">
          <div class="panel-title" (click)="expand(info)" data-toggle="collapse" data-target="#demo"></div>
        </div>
      </div>
      <div id="demo" class="collapse mt-3" *ngIf="info.expanded">
        <div class="row" *ngFor="let comment of comment_list">
          <div class="col-md-12">
            <h6 class="comment_user">{{comment.name}}</h6>
            <p class="support_section">{{comment.text}}</p>
            <hr class="comment_hr">
          </div>
        </div>
        <div class="row mt-0">
          <label class="label_font">Enter Your Comments</label>
          <textarea class="form-control" rows="5" [(ngModel)]="comments"></textarea>
        </div>
        <div class="row" style="justify-content: center;">
          <button type="button" class="btn btn-success pull-right m-3" (click)="post_comments()"
            style="background-color: #0b7efb;color:#fff;border-radius: 20px;width:100px;padding:3% 0 3% 0;">Post
          </button>
        </div>
      </div>
    </div>
  </div>
</div>