.cardSection {
    border: 1px solid #cccccc;
}

.cardTitle {
    font-size: 16px;
    font-family: 'MONTSERRAT-BOLD';
}

#infoWindow {
    padding: 0px 16px 16px 0px;
}

#infoWindow .header  {
    max-width: 90%;
    
}

#infoWindow .header h5 {
    color:#133c64;
    margin-top: 8px;
}

.info_wind_subheading{
    font-size: 14px;
    font-weight: 400;
    color: #2c2a2a;
}

.favrt_class{
    position: absolute;
    bottom:86%;
    z-index:2;
    right:2%
}

.favrt_backgrnd{
    color:#ff0000ad;
}




.info_wind_subheading .days {
    color: #ed9e00;
}

.pad_left{
    padding-left: 5px;
}

.pad_right {
    padding-right: 5px;
}

.mar_left {
    margin-left: 16px;
}

.mar_bottom {
    margin-bottom: 16px;
}

.marker_main_content{
    font-size: 16px;
    width: 100%;
    text-align: justify;
    padding: 0px 0px 0px 0px;
    height: auto;
    overflow-y: auto;
    color:#133c64;
  }
  
.like_share_custom{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #9e9393;
    background: #80808017;
}

.hr_class_custom{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #437eb9;
    width: 110%;
}

.support_section{
    font-family: 'MONTSERRAT-REGULAR';
    text-align: left;
    width: 100%;
    color: #133c64;
}



.panel-title {
    position: relative;
    margin-left: 35px;
  }
    
  .panel-title::after {
      content: "\f107";
      color: #333;
      top: -3px;
      left:20%;
      position: absolute;
      font-family: "FontAwesome";
      font-size:22px;
  }
  
  .panel-title[aria-expanded="true"]::after {
      content: "\f106";
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
 
.star-full{
    background-color: #0080ff !important;
    height: 25px !important;
    width: 25px !important;
}

.star-half{
    background-color: #0080ff !important;
    height: 25px !important;
    width: 25px !important;
}

.star-empty{
    background-color: #0080ff !important;
    height: 25px !important;
    width: 25px !important;
}

.font_span{
    font-family: 'MONTSERRAT-REGULAR';
    font-size:13px;
    margin-left: 3px;
}

.button_png{
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: none;
    padding: 0%;
    outline: none;
}

.img_png{
height:36px;
width:36px;
}
.active {
    /* background-color: #4be4dd; */
    /* opacity: 0.4; */
    /* color : #ffffff; */
  }

.comment_hr{
    margin-top:2% !important;
    border-top:1px solid #212529;
  }

.label_font{
    font-family: 'MONTSERRAT-REGULAR';
    color:#212529;
  }

  .card_border{
    border-radius: 16px;
    padding: 0%;
    box-shadow: 5px 5px 7px rgb(0,0,0,0.3);
}

.button {
    background-color: white;
    color: red;
    margin-left: -30px;
    margin-top: -6px;
}
.closed {
    color: green;
}

.positive {
    color: green !important;
}

.negative {
    color: red !important;
}