.content{
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    background-color: white;
    z-index: 5;
    font-family: 'Montserrat',sans-serif;
    overflow-y: auto;
}

.clear{
    top: 10px;
    right: 0px;
    position: absolute;
    z-index: 6;
    opacity: 0.8;
}

.cardWrapper {
    padding: 30px 20px 0px 20px;
    width: 100%;
    max-height: 520px;
    overflow-y: auto;
    
}

.remove{
    position: relative;
    float: right;
    margin-right: -13px;
    padding: 1px;
}

.cardSection {
    border: 1px solid lightgray;
    text-align: left;
    margin: -7px -13px -7px -13px;
}

.mat-card{
    margin-bottom: 20px;
    position: relative;
}

.mat-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.center{
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    box-shadow: 1px 2px lightgrey;
    overflow: hidden;
}

.marker_main_content{
    font-size: 12px;
    width: 100%;
    text-align: justify;
    padding: 0px 0px 0px 0px;
    max-height: 70px;
    overflow-y: auto;
  }

h6{
    color: #23474f;
    font-weight: 400;
}

hr{
    margin-top: -4px;
    margin-bottom: 1px;
}

@media (min-width: 630px){
    .content{
        width: 25%;
        transition: 0.5s all ease-in;
    }
}

@media (max-width: 649px){
    .content{
        width: 100%;
        transition: 0.5s all ease-in;
    }
}

  .cardWrapper {
    padding: 30px 20px 0px 20px;
    width: 100%;
    max-height: 630px !important; 
    overflow-y: auto;   
}

.cardSection{
    margin-bottom: 20px !important ;
    position: relative  ;
    border-radius: 6%  !important;
}

.item-class{
    color: #172B60;
    font-weight: 400;
}

.notification-class{
    margin: 16px 0px;
    opacity: 0.8;
    color: #172B60;
}
