<nav class="navbar navbar-expand-md bg-white border-bottom shadow-sm fixed-top">
  <div class="container">
    <span class="navbar-brand d-flex align-items-center">
      <img style="width: 40px;" src="./assets/landing_logo.png" />
      <strong class="pl-1">Solve Ninja</strong>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fas fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/map">Show Map</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Success Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>

      </ul>

    </div>
  </div>
</nav>