<div class="container-fluid">
 
  <div class="row">
    <div class="view">
      <div class="sni-title">
        Sni Score
      </div>
      <div class="wrapper">
        <table class="table">
          <thead>
           
            <tr>
              <th class="sticky-col first-col left-radius">No.</th>
              <th class="sticky-col second-col" scope="col">Total</th>
              <th scope="col">Section</th>
              <th scope="col">Parameter</th>
              <th scope="col">New Parameter - WebAPP</th>
              <th scope="col">Number of Actions</th>
              <th scope="col">DATA</th>
              <th scope="col">HANDSONSKILLS</th>
              <th scope="col">CITIZENSHIP</th>
              <th scope="col">PROBLEMSOLVING</th>
              <th scope="col">COMMUNICATION</th>
              <th scope="col">CRITICALTHINKING</th>
              <th scope="col">COMMUNITYCOLLABORATION</th>
              <th scope="col">APPLIEDEMPATHY</th>
              <th scope="col">GRIT</th>
              <th scope="col">ENTREPRENEURIALSKILLS</th>
              <th scope="col">Score</th>
              <th scope="col" class="last-col right-radius">Action</th>
            </tr>
          </thead>
          <tbody>
           
            <tr *ngFor="let data of SniData  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
              <td class="sticky-col first-col">{{((p-1)*itemsPerPage)+(i+1)}}</td>
              <td class="sticky-col second-col">{{ data.Total }}</td>
              <td>{{ data.Section }}</td>
              <td>{{ data.Parameter }}</td>
              <td>{{ data.NewParameterWebAPP}}</td>
              <td>{{ data.NumberofActions }}</td>
              <td>{{ data.DATA }}</td>
              <td>{{ data.HANDSONSKILLS }}</td>
              <td>{{ data.CITIZENSHIP }}</td>
              <td>{{ data.PROBLEMSOLVING }}</td>
              <td>{{ data.COMMUNICATION }}</td>
              <td>{{ data.CRITICALTHINKING }}</td>
              <td>{{ data.COMMUNITYCOLLABORATION }}</td>
              <td>{{ data.APPLIEDEMPATHY }}</td>
              <td>{{ data.GRIT }}</td>
              <td>{{ data.ENTREPRENEURIALSKILLS }}</td>
              <td>{{ data.Score }}</td>
              <td class="last-col">
                <!-- <button type="button" class="btn btn-primary mb-2">Add</button> -->
                <span class="material-icons icn-clr" (click)="openModal(data)">
                  create
                  </span>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="float-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>

    </div>
  </div>

</div>

<ng-template #popContent>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          
        <div class="card m-3">
          <div class="card-body">
              <div *ngIf="successUpdate">
                  <p class="alert alert-success">Data updated successfully</p>
                </div>
                <div *ngIf="errrUpdate">
                    <p class="alert alert-error">Error in updating the score</p>
                  </div>
            <h5 class="card-header mb-1">Update SniData</h5>
            <h4>{{selectedRow.Parameter}} - {{selectedRow.NewParameterWebAPP}}</h4>
           
            <form [formGroup]="sniForm" (ngSubmit)="submitForm()" novalidate>
              <div class="form-group">
                <label>Total</label>
                <input
                  type="text"
                  formControlName="Total"
                  class="form-control"
                  name="Total"
                  [(ngModel)]="selectedRow.Total"
                />
              </div>
              <div class="form-group">
                <label>Section</label>
                <input
                  type="Section"
                  formControlName="Section"
                  class="form-control"
                  [(ngModel)]="selectedRow.Section"
                />
              </div>
              <div class="form-group">
                <label>Parameter</label>
                <input
                  type="text"
                  formControlName="Parameter"
                  class="form-control"
                  [(ngModel)]="selectedRow.Parameter"
                />
              </div>
            
              <div class="form-group">
                <label>DATA</label>
                <input
                  type="text"
                  formControlName="DATA"
                  class="form-control"
                  [(ngModel)]="selectedRow.DATA"
                />
              </div>
              <div class="form-group">
                <label>HANDSONSKILLS</label>
                <input
                  type="text"
                  formControlName="HANDSONSKILLS"
                  class="form-control"
                  [(ngModel)]="selectedRow.HANDSONSKILLS"
                />
              </div>
              <div class="form-group">
                <label>CITIZENSHIP</label>
                <input
                  type="text"
                  formControlName="CITIZENSHIP"
                  class="form-control"
                  [(ngModel)]="selectedRow.CITIZENSHIP"
                />
              </div>
              <div class="form-group">
                <label>PROBLEMSOLVING</label>
                <input
                  type="text"
                  formControlName="PROBLEMSOLVING"
                  class="form-control"
                  [(ngModel)]="selectedRow.PROBLEMSOLVING"
                />
              </div>
              <div class="form-group">
                <label>COMMUNICATION</label>
                <input
                  type="text"
                  formControlName="COMMUNICATION"
                  class="form-control"
                  [(ngModel)]="selectedRow.COMMUNICATION"
                />
              </div>
              <div class="form-group">
                <label>CRITICALTHINKING</label>
                <input
                  type="text"
                  formControlName="CRITICALTHINKING"
                  class="form-control"
                  [(ngModel)]="selectedRow.CRITICALTHINKING"
                />
              </div>
              <div class="form-group">
                <label>COMMUNITYCOLLABORATION</label>
                <input
                  type="text"
                  formControlName="COMMUNITYCOLLABORATION"
                  class="form-control"
                  [(ngModel)]="selectedRow.COMMUNITYCOLLABORATION"
                />
              </div>
              <div class="form-group">
                <label>APPLIEDEMPATHY</label>
                <input
                  type="text"
                  formControlName="APPLIEDEMPATHY"
                  class="form-control"
                  [(ngModel)]="selectedRow.APPLIEDEMPATHY"
                />
              </div>
              <div class="form-group">
                <label>GRIT</label>
                <input
                  type="text"
                  formControlName="GRIT"
                  class="form-control"
                  [(ngModel)]="selectedRow.GRIT"
                />
              </div>
              <div class="form-group">
                <label>ENTREPRENEURIALSKILLS</label>
                <input
                  type="text"
                  formControlName="ENTREPRENEURIALSKILLS"
                  class="form-control"
                  [(ngModel)]="selectedRow.ENTREPRENEURIALSKILLS"
                />
              </div>
              <div class="form-group">
                <label>Score</label>
                <input
                  type="text"
                  formControlName="Score"
                  class="form-control"
                  [(ngModel)]="selectedRow.Score"
                />
              </div>
              <button class="btn btn-primary" type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
