<div class="card card_border">
  <form [formGroup]="locationForm"  novalidate>
  <div *ngIf="image_show">
    <img style="border-radius: 16px 16px 0px 0px;width:100%" [src]="image" />

  </div>
  <div class="img-algn" *ngIf="info.editable" >
    <button  (click)="updateImage()" class="btn btn-primary btn-md custom_btn_css">Update image</button>

  </div>
  <div class="card-body">
    <div class="mt-0" id="infoWindow" style="position:relative;">
      <div class="row">
        <ngx-stars [readonly]="false" (ratingOutput)="onRatingSet($event)" [size]="4" [initialStars]="initial_stars">
        </ngx-stars>
      </div>
      <div class="content-row " *ngIf="!info.editable">
        <a>{{info.name}}</a>
        <div class="float-right cp" *ngIf="createdBy===username"  (click)="editCard('editable')">
          <span class="material-icons" >
            edit 
            </span>
        </div>
      </div>
      <div class="content-row pad-b-5 disp-flex" *ngIf="info.editable">
        <input type="text"  formControlName="name"  class="form-control" value={{info.name}}/>
        <div class="float-right cp pd-l-10" (click)="editCard('update')">
          <span class="material-icons grn" >
            save 
            </span>
        </div>
      </div>
      <hr class="hr_class_custom">
      <div class="content-row" *ngIf="!info.editable">
        <p class="marker_main_content">{{info.description}}</p>
      </div>
      <div class="content-row pad-b-5" *ngIf="info.editable">
       <textarea class="form-control" rows="2" formControlName="description" value={{info.description}} ></textarea>

      </div>

      <div *ngIf="assetFields">
        <div *ngIf="address != '' && address != null && address != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Address:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.address}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <span>{{info.address}}</span>
            <button (click)="updateLocation()" class="btn btn-primary btn-md custom_btn_css">Update location</button>
            <!-- <textarea class="form-control" rows="3" [(ngModel)]="info.address"></textarea> -->

          </div>
        </div>

        <div *ngIf="catName != '' && catName != null  && catName != 'empty' " class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Category:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.catName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <select formControlName="catName" class="form-control">
              <option *ngFor="let cat of categorylist" [value]="cat.type">{{cat.type}}</option>
            </select>
           
          </div>
        </div>

        <div *ngIf="createdBy != '' && createdBy!= null && createdBy!= 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Created By:</label>
          </div>
          <div class="col-md-6 col-6">
            <img [src]="imageUrl" onerror="this.onerror=null; this.src='../../../assets/noImage.png'" alt=""
              class=" createdUser_image">
            <span class="createdUser_name">{{info.createdBy}}</span>
          </div>
        </div>
        <div *ngIf="contactName != '' && contactName != null && contactName != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Contact Name:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.contactName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text"  formControlName="contactName" value={{info.contactName}} class="form-control"> 
          </div>
        </div>
        <div
          *ngIf="contactNumber != '' && contactNumber != null && contactNumber != 9999999999    && contactNumber != 'empty' "
          class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Contact Number:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.contactNumber}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text"  formControlName="contactNumber" value={{info.contactNumber}}  class="form-control">
            <!-- <div *ngIf="location.contactNumber.errors" class="invalid-feedback disp-blk">
            <div *ngIf="location.contactNumber.errors.minlength || location.contactNumber.errors.maxlength">phone must be at least 10 numbers</div>
            <div *ngIf="location.contactNumber.errors.pattern">Enter a valid number</div>
            </div> -->
          </div>
        </div>

        <div *ngIf="workingHoursOpen != '' && workingHoursOpen != null  && workingHoursOpen != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Working Hours Open:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.workingHoursOpen}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
             <input type="time" formControlName="workingHoursOpen" value={{info.workingHoursOpen}}  class="form-control" id="myTime">
          </div>
        </div>
        <div *ngIf="workingHoursClose != '' && workingHoursClose != null && workingHoursClose != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Working Hours Close:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.workingHoursClose}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="time"  formControlName="workingHoursClose" value={{info.workingHoursClose}} class="form-control" id="myTime">
         </div>
        </div>
      </div>

      <div *ngIf="issueFields">
        <div class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Status:</label>
          </div>
          <div class="col-md-6 col-6">
            <select class="browser-default custom-select custom-select_drop" [disabled]="isAllowed == false"
              [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (change)="getSelectedvalue($event.value)" (click)="checkUser()">
              <option selected *ngFor="let tab of statuslist ; let index = index " [value]="tab.id">{{tab.name}}
              </option>
            </select>
          </div>
        </div>

        <div *ngIf="address != '' && address != null && address != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Address:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.address}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <span>{{info.address}}</span>
            <button (click)="updateLocation()" class="btn btn-primary btn-md custom_btn_css">Update location</button>
            <!-- <textarea class="form-control" rows="3" [(ngModel)]="info.address"></textarea> -->

          </div>
        </div>

        <div *ngIf="catName != '' && catName != null  && catName != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Category:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.catName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <select  formControlName="catName"  class="form-control">
              <option *ngFor="let cat of categorylist" [value]="cat.type">{{cat.type}}</option>
            </select>
           
          </div>
        </div>

        <div *ngIf="createdBy != '' && createdBy != null&& createdBy != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Created By:</label>
          </div>
          <div class="col-md-6 col-6">
            <img [src]="imageUrl" onerror="this.onerror=null; this.src='../../../assets/noImage.png'" alt=""
              class=" createdUser_image">
            <span class="createdUser_name">{{info.createdBy}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="solutionFields">
        <div class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Status:</label>
          </div>
          <div class="col-md-6 col-6">
            <select class="browser-default custom-select custom-select_drop" [disabled]="isAllowed == false"
              [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (change)="getSelectedvalue($event.value)" (click)="checkUser()">
              <option selected *ngFor="let tab of statuslist ; let index = index " [value]="tab.id">{{tab.name}}
              </option>
            </select>
          </div>
        </div>

        <div *ngIf="address != '' && address != null && address != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Address:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.address}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <span>{{info.address}}</span>
            <button (click)="updateLocation()" class="btn btn-primary btn-md custom_btn_css">Update location</button>
            <!-- <textarea class="form-control" rows="3" [(ngModel)]="info.address"></textarea> -->

          </div>
        </div>

        <div *ngIf="catName != '' && catName != null  && catName != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Category:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.catName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <select  formControlName="catName"  class="form-control">
              <option *ngFor="let cat of categorylist" [value]="cat.type">{{cat.type}}</option>
            </select>
           
          </div>
        </div>

        <div *ngIf="createdBy != '' && createdBy != null&& createdBy != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Created By:</label>
          </div>
          <div class="col-md-6 col-6">
            <img [src]="imageUrl" onerror="this.onerror=null; this.src='../../../assets/noImage.png'" alt=""
              class=" createdUser_image">
            <span class="createdUser_name">{{info.createdBy}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="caseFields">
        <div *ngIf="catName != '' && catName != null  && catName != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Category:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.catName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <select formControlName="catName"  class="form-control">
              <option *ngFor="let cat of categorylist" [value]="cat.type">{{cat.type}}</option>
            </select>
           
          </div>
        </div>
        <div *ngIf="type != '' && type != null && type != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Type:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.type}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <span>{{info.type}}</span>
          </div>
        </div>
        <div *ngIf="memers_name != '' && memers_name != null   && memers_name != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Members:</label>
          </div>
          <div class="col-md-6 col-6">
            <span>{{this.memers_name}}</span>
          </div>
        </div>
        <div *ngIf="url != '' && url != null  && url != 'http://empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">URL:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <a href="{{url}}" target="_blank">{{info.url}}</a>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text" class="form-control" value={{nfo.url}} formControlName="url">
          </div>
        </div>
      </div>

      <div *ngIf="ideaFields">
        <div *ngIf="catName != '' && catName != null  && catName != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Category:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.catName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <select formControlName="catName"  class="form-control">
              <option *ngFor="let cat of categorylist" [value]="cat.type">{{cat.type}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="createdBy != '' && createdBy != null && createdBy != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Created By:</label>
          </div>
          <div class="col-md-6 col-6">
            <img [src]="imageUrl" onerror="this.onerror=null; this.src='../../../assets/noImage.png'" alt=""
              class=" createdUser_image">
            <span class="createdUser_name">{{info.createdBy}}</span>
          </div>
        </div>
        <div *ngIf="url != '' && url != null &&  url != 'http://empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">URL:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <a href="{{url}}" target="_blank">{{info.url}}</a>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text" class="form-control" value={{info.url}} formControlName="url">
          </div>
        </div>

        <div *ngIf="memers_name != '' && memers_name != null  && memers_name != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Members:</label>
          </div>
          <div class="col-md-6 col-6">
            <span>{{this.memers_name}}</span>
          </div>
        </div>

        <div *ngIf="contactName != '' && contactName != null  && contactName != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Contact Name:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.contactName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text"  formControlName="contactName" value={{info.contactName}} class="form-control"> 
          </div>
        </div>
        <div
          *ngIf="contactNumber != '' && contactNumber != null  && contactNumber != 9999999999 && contactNumber != 'empty'"
          class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Contact Number:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.contactNumber}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text"  formControlName="contactNumber" value={{info.contactNumber}}  class="form-control">
           
          </div>
         
        </div>
        <div *ngIf="mentor != '' && mentor != null  && mentor != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Need Mentor:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.mentor}}</span>
          </div>
          <div *ngIf="info.editable">
            <div class="form-radio radio">
              <div ref="wrapper" class="form-check radio-selected">
                <label for="14-yes" class="form-check-label label-position-right">
                  <input id="14-yes" value="yes" formControlName="mentor" lang="en" class="form-check-input" type="radio"  >
                  <span>Yes</span>
                </label>
              </div>
              <div ref="wrapper" class="form-check">
                <label for="14-no" class="form-check-label label-position-right">
                  
                  <input id="14-no" value="no"  formControlName="mentor" lang="en" class="form-check-input" type="radio">
                  
                  <span>No</span>
                  
                </label>
              </div>
              
            </div>
          </div>
        </div>
        <div *ngIf="fund != '' && fund != null && fund != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Fund Amount Needed:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.fund}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
           <input type="text"  class="form-control" value={{info.fund}}  formControlName="fund">
          </div>
        </div>
        <div *ngIf="targetdate!= '' && targetdate != null" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Target Date:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.targetdate}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input 
            type="text" 
            class="form-control"
            mwlFlatpickr 
           formControlName="targetdate"
           value={{info.targetdate}} 
          >
          </div>
        </div>
      </div>

      <div *ngIf="campaignFields">
        <div class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Status:</label>
          </div>
          <div class="col-md-6 col-6">
            <select class="browser-default custom-select custom-select_drop" [disabled]="isAllowed == false"
              [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (change)="getSelectedvalue($event.value)" (click)="checkUser()">
              <option selected *ngFor="let tab of statuslist ; let index = index " [value]="tab.id">{{tab.name}}
              </option>
            </select>
          </div>
        </div>

        <div *ngIf="catName != '' && catName != null   && catName != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Category:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.catName}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <select  formControlName="catName"  class="form-control">
              <option *ngFor="let cat of categorylist" [value]="cat.type">{{cat.type}}</option>
            </select>
           
          </div>
        </div>

        <div class="row">
          <div *ngIf="address != '' && address != null && address != 'empty'" class="col-md-6 col-6">
            <label for="fname">Address:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.address}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <span>{{info.address}}</span>
            <button class="btn btn-primary btn-md custom_btn_css" (click)="updateLocation()">Update location</button>
            <!-- <textarea class="form-control" rows="3" [(ngModel)]="info.address"></textarea> -->
          </div>
        </div>

        <div *ngIf="enddate != '' && enddate != null  && enddate != 'empty' " class="row">
          <div class="col-md-6 col-6">
            <label for="fname">End Date:</label>
          </div>
          <div class="col-md-6 col-6">
            <span>{{info.enddate}}</span>
          </div>
        </div>

        <div *ngIf="url != '' && url != null  && url != 'http://empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">URL:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <a href="{{url}}" target="_blank">{{info.url}}</a>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text" class="form-control" value={{info.url}} formControlName="url">
          </div>
        </div>

        <div class="row">
          <div *ngIf="createdBy != '' && createdBy != null  && createdBy != 'empty'" class="col-md-6 col-6">
            <label for="fname">Created By:</label>
          </div>
          <div class="col-md-6 col-6">
            <img [src]="imageUrl" onerror="this.onerror=null; this.src='../../../assets/noImage.png'" alt=""
              class=" createdUser_image">
            <span class="createdUser_name">{{info.createdBy}}</span>
          </div>
        </div>

        <div *ngIf="memers_name != '' && memers_name != null  && memers_name != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Members:</label>
          </div>
          <div class="col-md-6 col-6">
            <span>{{this.memers_name}}</span>
          </div>
        </div>
        <div *ngIf="fund != '' && fund != null  && fund != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Fund Amount Needed:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.fund}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input type="text"  class="form-control" value={{info.fund}} formControlName="fund">
           </div>
        </div>
        <div *ngIf="targetdate!= '' && targetdate != null  && targetdate != 'empty'" class="row">
          <div class="col-md-6 col-6">
            <label for="fname">Target Date:</label>
          </div>
          <div class="col-md-6 col-6" *ngIf="!info.editable">
            <span>{{info.targetdate}}</span>
          </div>
          <div class="col-md-6 col-6" *ngIf="info.editable">
            <input 
            type="text" 
            class="form-control"
            mwlFlatpickr 
           formControlName="targetdate"
           value={{info.targetdate}}
          >
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
       <div class="col-3">
          <div class="support_section" *ngIf="share">
            <button type="button" class="button_png" (click)="navigate(info)" >
               <img src="../../../assets/Icons/share.png" class="img_png" alt="filter"/>
               </button>
                 <p class="font_span">Share</p>

          </div>
        </div>
        <div class="col-3">
          <div class="info">
            <div class="support_section">
              <button type="button" class="button_png" [disabled]="(global_userId === user_disabled)? true:false"
                (click)="supporters($event)">
                <img src="../../../assets/Icons/likes.png" class="img_png"
                  [ngClass]="(global_userId === user_disabled) ? 'active' : 'none'" alt="filter" /></button>
              <p class="font_span">{{supporters_count}} Supporters</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="support_section">
            <button type="button" class="button_png" (click)="clickcollapse()"
              [attr.aria-expanded]="!info.colComment" [attr.aria-controls]="cardId">
                <img src="../../../assets/Icons/comments.png" class="img_png" alt="filter" /></button>
            <p class="font_span">{{comment_count > 1 ? comment_count+' Comments' : comment_count+' Comment'}}</p>
          </div>
        </div>
        <div class="col-3" *ngIf="info.formType !== 52">
          <div class="support_section">
              <button type="button" class="button_png" (click)="collapseIssue()"
              [attr.aria-expanded]="!info.colIssue" [attr.aria-controls]="issueCard">
                <img src="../../../assets/Icons/updates.png" class="img_png" alt="filter" /></button>
            <p class="font_span">{{conversation_count >1 ? conversation_count + ' Updates' : conversation_count + ' Update'}}</p>
          </div>
        </div>
        <!-- <div class="col-1">
          <div class="panel-title mt-1" (click)="expand(info)" data-toggle="collapse" [attr.data-target]="'#'+cardId">
          </div>
        </div> -->
      </div>
      <div class="text-center">
        <button class="btn btn-success btn-block" (click)="getLocalHelp()">Local Help</button>
      </div>
      <div id="{{cardId}}" [ngbCollapse]="!info.colComment" class="mt-3">
        <div class="row" *ngFor="let comment of comment_list" let i = index>
          <div class="col-md-12">
            <img [src]="commentImage+comment.commenterPic"
              onerror="this.onerror=null; this.src='../../../assets/noImage.png'" alt="" class=" comment_image">
            <h6 class="comment_user">{{comment.name}}</h6><a >
              <span class="pull-right" *ngIf="createdBy===username"><i style="cursor: pointer;" (click)="deleteComments(comment.id, comment)" class="material-icons">delete</i></span></a>
            <p class="support_section">{{comment.text}}</p>
            <hr class="comment_hr">
          </div>
        </div>
        <div class="row mt-0">
          <label class="label_font">Enter Your Comments</label>

          <textarea class="form-control" rows="5" [(ngModel)]="comments" [ngModelOptions]="{standalone: true}"></textarea>
          
        </div>
        <div style="justify-content: center;" *ngIf="spinner_show" class="spinner_class">
          <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>
        <div style="justify-content: center;" *ngIf="spinner_show" class="spinner_class">
          <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>
        <div class="row" style="justify-content: center;">
          <button type="button" class="btn btn-success pull-right m-3" (click)="post_comments()"
            style="background-color: #0b7efb;color:#fff;border-radius: 20px;width:100px;padding:3% 0 3% 0;">Post
          </button>
        </div>
      </div>
      <div id="{{issueCard}}" [ngbCollapse]="!info.colIssue" class=" mt-3">
        <div class="row" *ngFor="let comment of conversation_list;let i=index">
          <div class="col-md-12">
            <img [src]="commentImage+comment.commenterPic"
              onerror="this.onerror=null; this.src='../../../assets/noImage.png'" alt="" class=" comment_image">
            <h6 class="comment_user">{{comment.name}}</h6>
            <!-- *ngIf="createdBy===username" -->
            <span class="pull-right" *ngIf="createdBy===username">
              <i style="cursor: pointer;" (click)="deleteConversation(comment.id, comment)" class="material-icons">
                delete</i></span>
            <p class="support_section">{{comment.Conversation}}</p>
            <hr class="comment_hr">
          </div>
        </div>
        <div class="text-center" *ngIf="conversation_list.length===0 && createdBy!==username">
          No updates found
        </div>
        <div class="row mt-0" *ngIf="createdBy===username">
          <label class="label_font">Enter Your Updates</label>

          <textarea class="form-control" rows="5" [(ngModel)]="conversation" [ngModelOptions]="{standalone: true}"></textarea>
          
        </div>
        <div style="justify-content: center;" *ngIf="spinner_show" class="spinner_class">
          <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>
        <div style="justify-content: center;" *ngIf="spinner_show" class="spinner_class">
          <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>
        <div class="row" style="justify-content: center;" *ngIf="createdBy===username">
          <button type="button" class="btn btn-success pull-right m-3" (click)="post_updates()"
            style="background-color: #0b7efb;color:#fff;border-radius: 20px;width:100px;padding:3% 0 3% 0;">Post
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<!-- image uplodad -->
<div class="upload-imgpage">
  <ng-template class="" #imageUpload let-modal>
   <div class="modal-header" style="justify-content: center;">
     <h6 class="modal-title" id="modal-basic-title">Image upload</h6>
     <button type="button" style="margin-bottom: 100px;" id="assignee_close" class="close custom_close" aria-label="Close"
       (click)="modal.dismiss('Cross click')">
       <span style="font-size: 25px;" aria-hidden="true">&times;</span>
     </button>
   </div>
   <input class="img-upload"
   type="file" (change)="onFileSeletcted($event)"
   #fileInput>
   <button class="btn btn-primary upload-imgbtn" (click)="close()">Done</button>
 <!-- <button (click)="onUpload()">Upload!</button> -->
  </ng-template>
 </div>
