div > .row {
    height: unset !important;
  }

.button_customize_service{
    background-color: #73afde !important;
    border-radius: 25px !important;
    padding: 8px 8px !important;
    width: 100% !important;
    border-color: #73afde !important;
    color: #fff !important;
}

.form-group {
    margin-bottom: 0rem;
}

.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #2196F3;
}

.form_builder_custom{
    position:absolute;
    left: 28%;
    top:-20%;
    right: 0;
    margin: auto;
    z-index:999;
}

.table_customize{
width:100%;
}

tr td{
    padding: 6px !important;
    margin: 6px !important;
  }

.header_padding{
    padding-left:2%;
}

.formio-form {
    position: relative;
    min-height: 80px;
   width:70% !important;
}

.button_customize_service {
    background-color: #73afde !important;
    border-radius: 25px !important;
    padding: 8px 2px !important;
    width: 200px !important;
    border-color: #73afde !important;
    color: #fff !important;
}
.pdt-3{
    padding-top: 3px;
}