<div id="map" style="width: 100%; height: 100%;">
  <div style="position: absolute;">{{disticName}}</div>


  <ng-template [ngIf]="lng">

    <mgl-map #clusterme (load)="map = $event" [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[zoom]"
      [center]="[lng, lat]" (zoomEnd)="centerChange($event)" (dragEnd)="centerChange($event)">

      <!-- Cluster Box -->
      <ng-template [ngIf]="showcluster">
        <ng-template ngFor let-content [ngForOf]="clusterData" let-index="index">
          <mgl-geojson-source id="earthquakes{{index}}" type="geojson" [data]="content" [cluster]="true"
            [clusterRadius]="100" [clusterProperties]="clusterProperties">
            <mgl-markers-for-clusters source="earthquakes{{index}}">

              <!-- Single Point -->
              <ng-template mglPoint let-feature>
                <img src="{{feature.properties.icon}}" (click)="markerClick(feature.properties.id)"
                  style="cursor: pointer;width: 38px;height:48px"
                  alt="{{feature.properties.long+'_'+feature.properties.lat}}">
              </ng-template>
              <!-- End Single Point -->

              <!-- Cluster Points -->
              <ng-template mglClusterPoint let-feature>
                <div style="position: relative;display:flex;flex-direction:column;">
                  <img src="{{content.icon}}" style="width: 38px;height:48px" />
                  <div (click)="zoomcluster(feature)"
                    style="background: #FF9800;border-radius: 50px;
                    display: flex;padding: 6px;position: relative;bottom: 10px;cursor: pointer;width: 28px;height: 28px;">
                    <span style="margin:auto">{{ feature.properties.point_count }}</span>
                  </div>

                </div>
              </ng-template>
              <!-- End Cluster Points -->

            </mgl-markers-for-clusters>
          </mgl-geojson-source>
        </ng-template>
      </ng-template>
      <!-- End Cluster Box -->

      <!-- Pop UP -->
      <ng-template class="modal_customize_tr" #content let-modal>
        <app-infowindow-content (closeitem)="close_modal()" [selectedInfo]="selectedInfo"></app-infowindow-content>
      </ng-template>
      <!-- End Pop UP -->

    </mgl-map>

  </ng-template>

  <agm-map style="visibility: hidden;" #gm [latitude]="lat" [longitude]="lng" [usePanning]="false"
    [streetViewControl]="false" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
    (mapClick)="mapClicked($event)" (centerChange)="centerChange($event)" (zoomChange)="zoomChange($event)">
    <agm-marker *ngFor="let m of locationsList; let i = index" [latitude]="m.lat" [longitude]="m.long"
      [iconUrl]="m.icon" [id]="m.id" (markerClick)="markerClick(m.id)">

      <ng-template class="modal_customize_tr" #content let-modal>
        <app-infowindow-content (closeitem)="close_modal()" [selectedInfo]="selectedInfo"></app-infowindow-content>
      </ng-template>
    </agm-marker>
  </agm-map>
</div>