<div id="map">
  <div style="position: absolute;">{{disticName}}</div>

  <agm-map #gm [latitude]="lat" [longitude]="lng" [usePanning]="false" [streetViewControl]="false" [zoom]="zoom"
    [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="mapClicked($event)"
    (centerChange)="centerChange($event)" (zoomChange)="zoomChange($event)" (boundsChange)="updateMarkers($event)">

    <agm-marker *ngFor="let m of locationsList; let i = index" [latitude]="m.lat" [longitude]="m.long"
      [iconUrl]="m.icon" [id]="m.id" (markerClick)="markerClick(m.id)">

      <ng-template class="modal_customize_tr" #content let-modal>
        <app-infowindow-content (closeitem)="close_modal()" [selectedInfo]="selectedInfo"></app-infowindow-content>
      </ng-template>
    </agm-marker>
  </agm-map>
</div>
