<div style="text-align:center">
    <h1>
      Overview
    </h1>
  </div>
<!--
  <ul>
    <li *ngFor="let row of rowData">{{row.place_org_name}}</li>
</ul>-->
  <ag-grid-angular

  style = "width: 150%; height: 1000px;"
  class = "ag-theme-balham"
  
  [rowData] = "rowData"
  [columnDefs] = "columnDefs"
  
  [floatingFilter] = "true"
  [suppressClickEdit]="true"

  [frameworkComponents]="frameworkComponents"
  
  [pagination] = "true"
  [paginationPageSize] = "20"
  
  [editType]="editType"
  (gridReady)="onGridReady($event)"
  
  >
  </ag-grid-angular>
  {{errorMsg}}

<h4>Row data from button 1: </h4>
<pre>{{rowDataClicked1 | json}}</pre>


