<div>
    <div class="col-md-12 district" style="margin-top: 10px">
              <div class="form-group location-group" *ngIf="issueInfo">Location: {{issueInfo.disticName}}</div>
        </div>
  </div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="loc-content" *ngIf="issueInfo">
      <div *ngIf="image_show">
        <img [offset]="'100'" style="border-radius: 16px 16px 0px 0px;width:100%" [lazyLoad]="image" />
      </div>
      <div class="card-body">
        <app-locationcard 
          (setActiveRemoveitem)="remove_item($event,i)" [info]="issueInfo" [share]="share">
        </app-locationcard>
      </div>
      <div class="row">
        <div class="col-md-12">
          <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
        </div>
      </div>
    </div>
  </div>

<div class="col-md-3"></div>

</div>

 <div class="row">
  <div class="col-md-12 centre">
    <button class="btn btn-primary" [routerLink]="['/']">Back</button>
  </div>
 </div>