<footer>
  <section class="pt-4 pb-4 footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="mb-2"><strong>Reap Benefit</strong></div>
          <div>Creating empowered youth across india</div>
        </div>
        <div class="col-md-3">
          <div class="mb-2"><strong>Explore</strong></div>
          <div><a href="" class="text-white">About Us</a></div>
          <div><a  href="" class="text-white">Become a Ninja</a></div>
          <div><a href="" class="text-white">Success stories</a></div>
          <div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-2"><strong>Contact Us</strong></div>
          <div>Address Line 1</div>
          <div>Address Line 2</div>
          <div class="mt-4"><a class="text-white" href="info@reapbenefit.org">info@reapbenefit.org</a></div>
        </div>
        <div class="col-md-3">
          <div class="mb-2">
            <strong>Follow Us</strong>
          </div>
          <div>
            <ul class="footer-ul">
              <li><i class="fab fa-facebook"></i></li>
              <li><i class="fab fa-twitter-square"></i></li>
              <li><i class="fab fa-instagram"></i></li>
              <li><i class="fab fa-youtube-square"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
 <div class="container"> <p class="m-0 pt-2 pb-2">&copy; 2020 Reap Benefit. All rights reserved</div>
 </section>
</footer>