<!--Component for Location Picker-->
<ngx-location-picker (closeModal)='hideLocationPickerModal($event)' [displayLocationModal]="displayLocationModal"></ngx-location-picker>

<!--Public Org Table Input Form-->
<h1 class="box-title" style="border-bottom: 1px solid #f2f2f2;">User Details Form</h1>
<div class="" style="background: #fff;padding: 40px 30px;">
    <form [formGroup]="public_data" (ngSubmit)='onFormSubmit()'>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="place_org_name" placeholder="Enter Organization Name">
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('place_org_name').touched && !public_data.get('place_org_name').valid? 'visible': 'hidden'}"> Please Enter Name</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="place_org_number" maxlength="10" placeholder="Enter Contact Number">
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('place_org_number').touched && !public_data.get('place_org_number').valid? 'visible': 'hidden'}"> Please Enter Contact Number</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <select class="form-control" formControlName="city_id">
                        <option value="" disabled selected>Select your City</option>
                        <option [value]='1'>Bangalore</option>
                        <option [value]='36'>Chennai</option>
                        <option [value]='4'>Delhi</option>
                        <option [value]='237'>Mandya</option>
                        <option [value]='101'>Nagpur</option>
                    </select>
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('city_id').touched && !public_data.get('city_id').valid? 'visible': 'hidden'}">Please Choose a City</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="form-group">
                    <select class="form-control" formControlName="place_org_category"
                        [(ngModel)]="selectedCategory.name" (change)="onSelect($event.target.value)">
                        <option value="" disabled selected>Select a Category</option>
                        <option *ngFor="let c of categories" [value]="c.name">{{c.name}}</option>
                    </select>
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('place_org_category').touched && !public_data.get('place_org_category').valid? 'visible': 'hidden'}"> Please Choose a Category</p>
                </div>
            </div>
            <div class="col col-md-4" *ngIf=public_data.value.place_org_category>
                <div class="form-group">
                    <select class="form-control" formControlName="place_org_subcategory">
                        <option value="" disabled selected>Select a Sub Category</option>
                        <option *ngFor="let sc of subCategories" [value]="sc.name">{{sc.name}}</option>
                    </select>
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('place_org_subcategory').touched && !public_data.get('place_org_subcategory').valid? 'visible': 'hidden'}"> Please Choose a Sub Category</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="info" placeholder="Enter Information">
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('info').touched && !public_data.get('info').valid? 'visible': 'hidden'}"> Please Enter Information</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="place_org_address" placeholder="Enter Address">
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('place_org_address').touched && !public_data.get('place_org_address').valid? 'visible': 'hidden'}"> Please Enter Address</p>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="place_org_lat"  placeholder="Enter Latitude">
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('place_org_lat').touched && !public_data.get('place_org_lat').valid? 'visible': 'hidden'}">
                        Please Enter Latitude</p>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="place_org_long" placeholder="Enter Longitude">
                    <p class='text-left text-invalid' [ngStyle]="{'visibility': public_data.get('place_org_long').touched && !public_data.get('place_org_long').valid? 'visible': 'hidden'}"> Please Enter Longitude</p>
                </div>
            </div>
            <div class="col col-md-1">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="showLocationModal()">Locate</button>
            </div>
        </div>
        <div class="row">
            <button style="margin-left: 17px;" type="submit" [disabled]="!public_data.valid" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

<!-- Modal for Submit Response-->
<div class="modal" id="myModal" [style.display]="displayMessageModal ? 'block' : 'none'">
    <div class="modal-dialog modal-md">
        <div class="modal-content border">
            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title"><strong>Response</strong></h6>
                <button type="button" class="close" data-dismiss="modal" (click)="hideModal()"><span style="color:red;">&times;</span></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
        </div>
    </div>
</div>
